

<% if user_signed_in? %>

  <center>
    <h2> Welcome! </h2>
    <h1>All User Goals</h1>


  <%# <% @posts.user.each do |post| %>
    <!-- <div> -->
      <%# <!-- Title: <%= user_posts.title %>
      <%# Description: <%= post.description %>
      <%# <%= link_to 'Open', post_path(post) %>
      <%# <% end %>
    <!-- </div> -->

    <br>
  <button type="button"><%= link_to 'View My Goals!', posts_path %></button>

  <!-- need to change posts_path to user_posts_path -->

  <button type="button"><%= link_to 'Create a New Goal!', new_post_path %></button></center>
<% else %>
  <center><h1>GOAL CHEER</h1>
  <i><h2>A place to map out your goals with a supportive community cheering you on!</h2></i>
  <b>Already signed up? </b><br><br>
  <button type="button"><%= link_to 'Login', new_user_session_path %></button><br><br>
  <b>Ready to start tracking your goals?</b><br><br>
<button type="button"><%= link_to 'Sign Up Now', new_user_registration_path %></button></center>

<% end %>

<% if user_signed_in? %>
<center><br>[list goal]<br>
[list goal]<br>
[list goal]<br>
[list goal]<br>
[list goal]</center>
<% end %>
