

<% if user_signed_in? %>
  <h1>Welcome, <%= current_user.email %>!</h1>
  <h3> Would you like to see your current goals?</h3>





  <%# <% @posts.user.each do |post| %>
    <!-- <div> -->
      <%# <!-- Title: <%= user_posts.title %>
      <%# Description: <%= post.description %>
      <%# <%= link_to 'Open', post_path(post) %>
      <%# <% end %>
    <!-- </div> -->





  <%= link_to 'My Goals', posts_path %><br>
  <h3>Would you like to add a new goal? </h3>
  <%= link_to 'Create a New Goal', new_post_path %>
<% else %>
  <h1>Welcome to the Goal Tracker!</h1>
  <h2>A place to map out your goals...</h2>
  Already signed up? <br>
  <b><%= link_to 'Login', new_user_session_path %> </b><br><br>
  If you are new, please: <br>
  <b><%= link_to 'Sign Up', new_user_registration_path %></b>
<% end %>
<br>
