

<% if user_signed_in? %>
  <center><h1><%= current_user.email.capitalize %>'s Goal Dashboard</h1>

  <%# <% @posts.user.each do |post| %>
    <!-- <div> -->
      <%# <!-- Title: <%= user_posts.title %>
      <%# Description: <%= post.description %>
      <%# <%= link_to 'Open', post_path(post) %>
      <%# <% end %>
    <!-- </div> -->


  <button type="button"><%= link_to 'View all My Goals!', posts_path %></button>
  <br><br>
  <!-- need to change posts_path to user_posts_path -->

  <button type="button"><%= link_to 'Create a New Goal!', new_post_path %></button></center>
<% else %>
  <center><h1>GOAL CHEER</h1>
  <i><h2>A place to map out your goals with a supportive community cheering you on!</h2></i>
  <b>Already signed up? </b><br><br>
  <button type="button"><%= link_to 'Login', new_user_session_path %></button><br><br>
  <b>Ready to start tracking your goals?</b><br><br>
<button type="button"><%= link_to 'Sign Up Now', new_user_registration_path %></button></center>

<% end %>
