<% if user_signed_in? %>
Welcome, <i><%= current_user.email %> </i>

<center><%= posts_link %><br>
<%= link_to 'Create a New Goal', new_user_post_path(current_user.id) %><br>
<h3>All Goals:</h3>

<%= render 'posts/scope' %>

<% Post.all.each do |post| %>
  <%= render partial: 'posts/post', locals: { post: post} %>
  <br><center>
<% end %>

  <% else %>


  <center><h2> Welcome! </h2><center><h1>GOAL CHEER</h1>

  <i><h2>A place to map out your goals with a supportive community cheering you on!</h2></i>
  <b>Already signed up? </b><br><br>

  <button type="button"><%= link_to 'Log In', new_user_session_path %></button><br><br>
  <b>Ready to start tracking your goals?</b><br><br>

  <button type="button"><%= link_to 'Sign Up Now', new_user_registration_path %></button></center>


  <% end %>
