<center><div>
 <%= form_for @post do |f| %>
   <b><label>My goal is to...</label></b><br>
   <%= f.text_area :title, :cols => 40, :rows => 2 %>
   <br><br>
   <b><label>About (description, plan of action, thoughts, obstacles, etc):</label></b><br>
   <%= f.text_area :description, :cols => 70, :rows => 6 %>
   <br><br>
   <b><label>Ongoing?</label></b><br>
   <%= f.check_box :ongoing %>
   <br><br>
   <b><label>I'd like to have it done by?</label></b><br>
   <%= f.date_field :due_date %>
   <br><br><b><label>Difficulty? (Select One)</label></b><br>
   <%= f.select :difficulty, (Post.difficulty_mapping), :include_blank => true %>


   <br><br><b><label>Category (Select One)</label></b><br>
   <%= f.select :category, (['Personal', 'Work', 'Family', 'Finance', 'Education', 'Health']), :include_blank => true  %>

   <br><br><b><label>Priority Level<br>
     (Select One: 5 = MOST Urgent, 1 = NO Urgency)</label></b><br>
     <%= f.select :priority, (Post.priority_mapping), :include_blank => true %>

   <br><br><b><label>My Progress</label></b><br>
   <%= f.select :progress, (Post.progress_mapping), :include_blank => true %>

   <br><br><b><label>Question for Others?</label></b><br>
   <%= f.text_area :question, :cols => 35, :rows => 4 %>
   <br><br>

   <%= f.submit "Submit Goal"%>
 <% end %>
 <br>
</div></center>
