<h1>Create a New Goal</h1>
<div>
 <%= form_for @post do |f| %>
   <b><label>My goal is to...</label></b>
   <br>
   <%= f.text_field :title %>
   <br>
   <br>
   <b><label>About my goal:</label></b>
   <br>
   <%= f.text_area :description %>
   <br>
   <br>
   <b><label>I'd like to have it done by?</label></b>
   <br>
   <%= f.text_field :due_date %>
   <br>
   <br>

   <%= f.submit %>
 <% end %>
</div>
