<h2>Create a New Goal</h2>
<div>
 <%= form_for @post do |f| %>
   <label>Title</label>
   <br>
   <%= f.text_field :title %>
   <br>
   <br>
   <label>Description</label>
   <br>
   <%= f.text_area :description %>
   <br>
   <br>
   <label>Due Date</label>
   <br>
   <%= f.text_field :due_date %>
   <br>
   <br>

   <%= f.submit %>
 <% end %>
</div>
