<div class="dropdown">
  <button class="dropbtn">Sort By</button>
  <div class="dropdown-content">
    <%= sorted_posts_link('Newest')%>
    <%= sorted_posts_link('Oldest') %>
    <%= sorted_posts_link('Easiest') %>
    <%= sorted_posts_link('Hardest') %>
    <%= sorted_posts_link('Categories', 'Category') %>
    <%= sorted_posts_link('High_Priority','Highest Priority')%>
    <%= sorted_posts_link('Low_Priority', 'Lowest Priority') %>
    <%= sorted_posts_link('Most_Progress', 'Most Progress') %>
    <%= sorted_posts_link('Most_Commented', 'Most Comments') %>
    <%= sorted_posts_link('Soonest_Due_Date', 'Goal End Date') %>
    <%= sorted_posts_link('Ongoing?', 'Ongoing') %>
    <%= sorted_posts_link('Most_Cheered', 'Most Cheers') %>
  </div>
</div>
