
<h1>My goal is to <u><%= @post.title.downcase %></u>!</h1>

<h3><b>About my goal:</b></h3>
<p><i><%= @post.description %></i>
  <br>
  <h3><b>I am going to have this done by:</b></h3>
<p><%= @post.due_date %>
    (date will go here)
<br><br>
<%= link_to 'Edit Goal', edit_post_path(@post) %>
<%= link_to 'Delete Goal', post_path(@post), method: :delete %>



<%= render 'comments' %>
<br>
<%= link_to 'Back', posts_path  %>
