
<center><h1>My goal is to <u><%= @post.title.upcase %></u></h1>
   <i>Created on <%= @post.created_at.strftime("%B %e, %Y") %> </i>
<br><br>
<h3><b>About my goal and how I will accomplish it:</b></h3>
<p><i><%= @post.description.capitalize %></i>
  <br><br>
  <% if @post.due_date %>
      <h3><b>I am going to have this done by:</b></h3>
      <p><%= @post.due_date.strftime("%B %e, %Y") %> which is 'x' days away.
  <% else %>
    This is ongoing or long-term
  <% end %>
  <br><br>
  <h3><b>Ongoing?</b></h3><br>
  <%= @post.ongoing %><br><br>
  <h3><b>Difficulty</b></h3>
  <%= @post.difficulty %><br><br>
  <h3><b>Category</b></h3>
  <%= @post.category %><br><br>
  <h3><b>Priority</b></h3>
  <%= @post.priority %><br><br>
  <h3><b>Progress</b></h3>
  <%= @post.progress %><br><br>
  <h3><b>Question for Others</b></h3>
  <%= @post.question %>


<br><br><br><br>
<button type="button"><%= link_to 'Edit Goal', edit_post_path(@post) %></button>
<button type="button"><%= link_to 'Delete Goal', post_path(@post), method: :delete %></button>
<br><br><br><br>



<%= render 'comments' %></center>
<br>
<%= link_to 'Back', posts_path  %>
