<center><h2>Sign up for GOAL CHEER</h2>
  <h3>Enter your information below to start tracking your goals!</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <b><%= f.label :email, "Email*" %></b>
    <br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <br>
  <div class="field">
    <b><%= f.label :password, "Password*" %></b>
    <br>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <br>
  <div class="field">
    <b><%= f.label :password_confirmation, "Confirm Password*" %></b><br>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

<h5><i>*required</i></h5>
  <div class="actions">
    <%= f.submit "Sign Me Up!" %>
  </div>
<% end %>
<br>
<%= render "users/shared/links" %></center>
